
    h1,h4 {
        /* text-shadow: 5px 1px 1px rgb(255, 255, 255), 7px 1px 10px rgb(250, 250, 250); */
        color: #28a745;
        font-weight: bold;
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        #list-item-1 {  
            margin-top: 43px;
        }
    }


    .content-item {
        /* background: yellowgreen; */
        /* padding: 20px; */
        /* border-radius: 10px; */
        /* margin-bottom: 20px; */
        display: none;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    .fade-in {
        animation: fadeIn 1s ease-in-out;
    }

    .slide-in {
        animation: slideIn 1s ease-in-out;
    }

    .text_color_nav_link {
        color: white;
    }
